<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes - Pokédex</title>

    <link rel="shortcut icon" href="assets/favicon.svg" type="image/x-icon">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>

    <div id="pnlConteudo" class="conteudo">

        <div id="card">
            <div id="card-content">
                <img id="foto"></img>
                <div id="info">
                    <h2 id="nome"> </h2>
                    <h1 id="numero"></h1>
                    <p id="tipo"></p>
                </div>

            </div>
        </div>
        <div class="botao">
            <button class="btnVoltar" id="btnVoltar">Voltar</button>
        </div>


    </div>
</body>

</html>